*{
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}


#card-div{
display: flex;
flex-direction: row;
padding: 2rem 1rem;
justify-content: center;
gap:2rem ;

}



#search{
    height: 20px;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    
 
   
    
}

#block{
    background-color: #ded8d8;
    margin: 100px;
    border-radius: 50px;
    width: 90%;
   padding-left: 0.5px;
    display: flex;
    justify-content: center;
    min-width: fit-content;

 }  

#book {
    /* background-color: #bbbdc0; */
  
  font-weight: 600;
  font-size: 40px;
 
  margin-left: 5px;
  padding-top: 10px;
  
 

}
#payment{
    justify-content: center;
    
    padding-bottom:30000px;
    font-weight: 600;
    padding-left: 600px;
    padding-right: 700px;
    font-size: 25px;  
  
}
#make-safe{
    padding-left: 200px;
    
    }
#add{
    font-size: 25px;
    display: block; 

}
 

#ava{
    margin-left: 200px;
    padding-left: 300px;
    
}
#datflight{
   padding-right: 100px;
}

.border-between{
    display :flex;
border: 1px solid rgb(201, 202, 195);
margin-top: 30px;
padding-left:20px;
margin-left: 200px;
width:80%;
display: flex;
justify-content: center;
}

#navbar-default{
    display: flex;
    padding: 10px;
    border: #746c6c;

   width: 100%;
    gap: 90px;
    background-color: rgb(98, 102, 91);
   
}
/* .whitespace-nowrap{
    padding: 10px;
   
} */

#book-large{
    font-size: 15px;
    justify-content: centre;
    gap: 10px;
    background-color: #746c6c;
  
    
}
#mt-hover{
    font-size: 15px;
    background-color: #746c6c;

}
#aria-centre{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
   padding-bottom: 400px;
    border-radius: 50px;
    border: 20px;
   

}
#place-self-data{
   
   font-size: 15px;
   font-weight: 800;
   padding-right: 500px;
   color: #746c6c;

}
   
#airbus{
    font-size: 20px;
    padding-left: 80px;
    font-weight: 600;
    color: black;
    padding-bottom: 100px;
    position: relative;
    top: 25px;

   

}
#home{
    padding-left: 300px;
    color: black;
    bottom: 15px;
   
}
#login{
    padding-left: 500px;
    color: black;
    

}
/* #flightbook{
    justify-content: center;

    font-weight: 500;
    width: 70px;
    height: 40px;
  padding: 10px 20px;
   background-color: #73a2f2;  
} */
#airline{
padding-right: 10px;
  
}
#desti{
    padding-right: 35px;
}
#loc{
    padding-right: 45px;
    
}
#dep{
    padding-right: 15px;
}
#arr{
    padding-left: 25px;
}
.flex-col-justify{
    padding-right: 45px;
}
#start{
    font-size: 30px;
   

}
#justify-p{
    padding-top: 120px;
    color: #d1bbbb;
    font-size: 15px;
}
